.main{
  max-width: 1024px;
  margin: 0 auto;
  position: relative;
}

.photo{
  position: absolute;
  margin: 0 auto; 
  left:50%;
}

.line{
  padding-bottom: 1px;
  background-color: #9b9b9b;
  border-bottom:1px solid #F4F4F4;
}
